.navbar {
    background: linear-gradient(135deg, #031E3E 0%, #3A4A64 100%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    position: sticky; 
    top: 0; 
    z-index: 1000; 
}

.logo-container img {
    margin-right: 15px;
}

.itjlogo{
    height: 6vh;
}

.sflogo{
    height: 6vh;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-left: 40px; 

}

.nav-links a {
    text-decoration: none;
    font-weight: bold; 
    transition: color 0.3s;
    margin-left: 40px;
    cursor: pointer; 
    color: white;
}

.nav-links a:hover {
    color: #980aff;
}

.nav-links a:active{
    color: rgb(31, 31, 31)
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 1.5rem 2rem;
    }

    .nav-links {
        position: absolute;
        right: 0;
        height: 100vh;
        top: 8vh;
        background-color: #1B256D;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in, visibility 0.5s;
        box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
        visibility: hidden;
        padding-top: 20px; 
    }

    .nav-links.open {
        transform: translateX(0);
        visibility: visible;
    }

    .nav-links li {
        margin: 15px 0; 
    }

    .nav-links a {
        font-size: 1.2rem; 
    }

    .hamburger {
        display: block;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 5px;
    }
}
