.form-container {
    width: 100%; 
    margin-top: 1rem; 
    padding: 1vh 1vw
}

.form-container form {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px;
}

.form-input,
.form-select {
    width: 90%; 
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-submit {
    background-color: #818DA3;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 0.9rem;
    width: 90%; 
    text-decoration: none;
}

.form-submit:hover, .form-submit:focus {
    background-color: #6A7B9C;
    color: white;
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 768px) {
    .form-container {
        width: auto;
        margin-top: 0;
    }

    .form-container form {
        flex-direction: row; 
        gap: 15px;
    }

    .form-input,
    .form-select,
    .form-submit {
        width: auto; 
    }

    .form-submit {
        max-width: 200px; 
    }
}

